@charset "utf-8";
/* CSS Document */
body{background:#fff;font-family:Microsoft yahei;}
body,form,input,textarea{margin:0;padding:0;font-size:14px;font-family:Microsoft yahei;}
.li_border{border:1px solid #CCCCCC}
.left_list{width:180px;overflow:hidden;float:left;display:inline;border:1px solid #D9D9D9;margin-left:0px}
.left_lists{border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;width: 180px;max-height:450px;overflow:auto;} 
.left_list h3{background:#0190F2;text-align:center;width:180px;height:40px;line-height:40px;font-size:16px;color:#fff;}
.left_list .zsd_ul{padding:0;margin:0;list-style:none;}
.left_list .zsd_ul li{line-height:30px;overflow:hidden;clear:both;border-bottom:1px solid #CCCCCC}
.left_list a:hover{color:#fff;}
.left_list .exam_li:hover{background:#0190F2;width:180px;height:30px;}
.left_list .month_exam a{color:#fff}
.left_list .month_exam{color:#fff;background:#0190F2;width:180px;height:30px;}
.left_lists span{display:block;margin:0 auto;line-height:34px;text-align:center;font-size:16px;color:#000}
.nav_bold{
	width:50px;
	margin:0px 5px;
	line-height:25px;
	height:25px;
	font-size:15px;

	float:left;
	text-align:center;
	margin-top:8px;
	}
.nav_2{
	width:45px;
	margin:0px 15px;
	line-height:25px;
	height:25px;
	font-size:15px;
	color:#000;
	float:left;
	cursor:pointer;
	text-align:center;
	margin-top:8px;
	}
.nav_2:hover{
	background:#FF9118;
	color:#FFF;
}
.nav_stay{
	width:45px;
	margin:5px 15px;
	line-height:25px;
	height:25px;
	font-size:15px;
	color:#FFF;
	float:left;
	cursor:pointer;
	text-align:center;
	margin-top:8px;
	background:#FF9118;
	}
.nav_tag1{
	width:50px;
	margin:0px 60px;
	line-height:25px;
	height:25px;
	font-size:20px;
	color:#CCC;
	float:right;
	cursor:pointer;
	text-align:center;
	}
.nav_tag2{
	width:50px;
	margin:-25px -20px;
	line-height:25px;
	height:25px;
	font-size:20px;
	color:#CCC;
	float:right;
	cursor:pointer;
	text-align:center;

	}
.nav_num{
	width:50px;
	margin:-25px 20px;
	line-height:25px;
	height:25px;
	font-size:15px;
	color:#000;
	float:right;
	text-align:center;

}
.exam_list{border:1px solid #D9D9D9;width:100%;height:710px;font-size:12px}
.exam_list .exam_ul{padding:0;margin:0;list-style:none;}
.exam_list .exam_ul li{line-height:70px;overflow:hidden;clear:both;border-bottom:1px solid #CCCCCC}
.nav_3{
	border-bottom:1px solid #D9D9D9;
	width:100%;
	height:70px;
	margin:0px 0px;
	line-height:35px;
	font-size:14px;
	color:#000;
	float:left;
	cursor:pointer;
	}
.nav_3:hover{background:#CCC}
.exam_link{
	height:30px;
	line-height:30px
	width:70%;
	text-indent:15px;
	}
.exam_link span{color:#000;}
.exam_link a:hover{color:#000}
.exam_mag{
	height:30px;
	line-height:30px
	width:70%;
	text-indent:15px;
	}
.exam_mag span{color:#999}
.page_num{}
.page_num span{color:#999}
.page_up{
	border:1px solid #D9D9D9;
	width:75px;
	margin:0px 25px;
	line-height:35px;
	height:35px;
	font-size:15px;
	float:left;
	text-align:center;
	margin-top:8px;
	cursor:pointer;
	}
.page_list{
	border:1px solid #D9D9D9;
	width:35px;
	margin:0px 10px;
	line-height:35px;
	height:35px;
	font-size:15px;
	float:left;
	text-align:center;
	margin-top:8px;
	cursor:pointer;
	}
.page_list:hover{background:#1194F3}
.page_list1{
	border:1px solid #D9D9D9;
	width:35px;
	margin:0px 10px;
	line-height:35px;
	height:35px;
	font-size:15px;
	float:left;
	text-align:center;
	margin-top:8px;
	cursor:pointer;
	background:#1194F3
	}
.page_point{
	width:25px;
	margin:0px 10px;
	line-height:35px;
	height:35px;
	font-size:15px;
	float:left;
	text-align:center;
	margin-top:8px;
}
.page_down{
	border:1px solid #D9D9D9;
	width:75px;
	margin:0px 15px;
	line-height:35px;
	height:35px;
	font-size:15px;
	float:left;
	text-align:center;
	margin-top:8px;
	cursor:pointer;
}

.load_img{background-image:url(../images/load.jpg);background-repeat: no-repeat;cursor:hand;cursor:hand;float:right;width:68px;height:25px;margin-top:5px; margin-right:10px}
.nav_3:hover .load_img{background-image:url(../images/load1.jpg);background-repeat: no-repeat;cursor:hand;cursor:hand;float:right;width:68px;height:25px;margin-top:5px;margin-right:10px}
.exam_img{background-image:url(../images/exam.jpg);background-repeat: no-repeat;cursor:hand;cursor:hand;float:right;width:68px;height:25px;margin-top:5px;margin-right:10px}
.nav_3:hover .exam_img{background-image:url(../images/exam1.jpg);background-repeat: no-repeat;cursor:hand;cursor:hand;float:right;width:68px;height:25px;margin-top:5px;margin-right:10px}

.select{
	border:1px solid #CCCCCC;
	width:932px;
	height:150px;
	zoom: 1;
	margin-top:15px;
	margin-left:242PX;
}
.selec_div{
	margin-left:12px;
	height:35px;
	line-height:35px;
	zoom:1;
	width:900px;
	margin-bottom:10px;
	}
.selec_div a:hover{ background: #ff9118; color: #fff; text-decoration: none; }
.all{	
	width:40px;
	margin:0px 13px;
	line-height:25px;
	height:25px;
	background-color:#ff9118;
	float:left;
	cursor:pointer;
	text-align:center;
	margin-top:8px;
	
}
.all1{	
	width:40px;
	margin:0px -9px;
	line-height:25px;
	height:25px;
	color:#FFF;
	background-color:#ff9118;
	float:left;
	margin-right:0px;
	cursor:pointer;
	text-align:center;
	margin-top:5px;
}
.all2{	
	width:40px;
	margin:0px 8px;
	line-height:25px;
	height:25px;
	color:#FFF;
	background-color:#FF9118;
	float:left;
	cursor:pointer;
	text-align:center;
	margin-top:8px;
}
nav_value{
	width:800px;
	height:35px;
	margin-left: 110px;
    padding-right: 130px;
    padding-left: 10px;
    overflow: hidden;
    zoom: 1;
}
.ul_value li{    
	list-style-type: none;    
    display: inline;  }
.year{
	width:50px;
	margin:0px 3px;
	line-height:25px;
	height:25px;
	float:left;
	cursor:pointer;
	text-align:center;
	margin-top:8px;}

.selectsty{
	 border:1px #000 solid;
	 overflow:hidden;
}
.grade{
	width:30px;
	margin:0px 11px;
	line-height:25px;
	height:25px;
	float:left;
	font-ize:12px;
	cursor:pointer;
	text-align:center;
	margin-top:5px;}
	

.filtrate_box a {
	font-size: 12px;
	color:#000;
	text-decoration: none;
	font-size:15px;
}


.filtrate_box {
	
	width:980px;border-radius:5px;margin-top:10px;padding:10px;
}
.filtrate_box .head:after, .filtrate_box .list:after,.filtrate_box:after { content: "."; height: 0; display: block; clear: both; visibility: hidden; }
.filtrate_box .head { background: #f2f2f2; padding: 0 10px 0 8px; zoom: 1; _height: 20px; }
.filtrate_box .list { line-height: 20px; padding:0 3px 5px; zoom: 1; position: relative; float:left;width:980px}
.filtrate_box .list a { padding: 0 2px; display: inline-block; }
.filtrate_box .list dt { float: left; text-align:right; padding: 10px 14px 0 0; border-top: solid 1px #f0e4e4; }
.filtrate_box .list dt b { display: inline-block; width: 75px; padding-right: 2px; }
.filtrate_box .list .year_t { border-top: 0; padding-top: 10px; }
.filtrate_box .list .all { display: inline-block; }
.filtrate_box .list dd { float: left; width: 782px; border-top: solid 1px #f0e4e4; padding: 10px 0 4px; position: relative; }
.filtrate_box .list dd a { margin-right: 14px; }
.filtrate_box .list .height {
	overflow: hidden;
	height: 18px;
	margin-bottom: 4px;
	padding-bottom: 0;
}
.filtrate_box .list .year_height {
	overflow: hidden;
	height: 16px;
	margin-bottom: 4px;
	padding-bottom: 0;
}

.filtrate_box .list .year_opt {
	position: relative;
	border-top: 0;
	padding-top: 0;
	padding-top: 10px;
    margin-bottom: -12px; 
}

.filtrate_box .list .year_opt span {
	width: 55px;
	display:inline;
	overflow: hidden;
	white-space:nowrap;
	margin-right: 16px;
	height: 26px;
	float: left;
	margin-bottom: 6px;
}

.filtrate_box .list .year_opt span a {
	margin-right: 0;
}

.button {
	position: absolute;
	right: 5px;
	top: 10px;
	background: url(../images/top.png) no-repeat 50px 0px;
	width: 50px;
	height: 18px;
	text-align: left;
	cursor: pointer;
	margin-right: -1px;
	_padding-top: 2px;
	_height: 16px;
	padding-left:20px;
	font-size:15px;
	color:#000;
}

.btn_b {
	background:url(../images/top_up.png) no-repeat 50px 0px;
}

.filtrate_box .list .year_opt .hover {
	background-position: 0 -20px;
}
.filtrate_box .list .area_opt .hover {
	background-position: 0 -20px;
}
.filtrate_box .all_sort { height: 21px; }
.filtrate_box .area_list { line-height: 20px; padding:0 20px 10px; zoom: 1; position: relative; float:left;}
.filtrate_box .area_list a { padding: 0 2px; display: inline-block; }
.filtrate_box .area_list dt { float:left; text-align:left; padding: 10px 14px 0 0; border-top: solid 1px #f0e4e4; }
.filtrate_box .area_list dt b { display: inline-block; width: 75px; padding-right: 2px; }
.filtrate_box .area_list .area_t { border-top: 0; padding-top: 5px; }
.filtrate_box .area_list .all { display: inline-block; }
.filtrate_box .list a:hover { background: #ff9118; color: #fff; text-decoration: none; }
.filtrate_box .area_list a:hover{ background: #ff9118; color: #fff; text-decoration: none; }
.filtrate_box .area_list .on a { color: #fff; }
.filtrate_box .area_list dd { float: left; width: 782px; border-top: solid 1px #f0e4e4; padding: 10px 0 4px; position: relative; }
.filtrate_box .area_list dd a { margin-right: 14px; }
.filtrate_box .area_list .height {
	overflow: hidden;
	height: 18px;
	margin-bottom: 4px;
	padding-bottom: 0;
}

.filtrate_box .area_list .area_height {
	overflow: hidden;
	height: 24px;
	margin-bottom: 4px;
	padding-bottom: 0;
}

.filtrate_box .area_list .area_opt {
	position: relative;
	border-top: 0;
	padding-top: 0;
	padding-top: 10px;
    margin-bottom: -12px; 
}

.filtrate_box .area_list .area_opt span {
	width: 50px;
	display:inline;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 16px;
	height: 26px;
	float: left;
	margin-bottom: 6px;
}

.filtrate_box .area_list .area_opt span a {
	margin-right: 0;
}
 .area_button {
	position: absolute;
	right: 40px;
	top: 10px;
	background: url(../images/top.png) no-repeat 50px 0px;
	width: 50px;
	height: 18px;
	text-align: left;
	cursor: pointer;
	margin-right: -1px;
	_padding-top: 2px;
	_height: 16px;
	padding-left:20px;
	font-size:15px;
	color:#000;
}
.btn_b {
	background:url(../images/top_up.png) no-repeat 50px 0px;
}

.filtrate_box .area_list .area_opt .hover {
	background-position: 0 -20px;
}


	
