/*全部导航*/
.zhzt li {
    width: 184px;
    height: 36px;
}
.allNav {
	width: 1000px;
	float: left;
	margin: 30px 0px 20px 0px;
}
.allNav div {
	float: left;
	padding-right: 25px;
	line-height: 36px;
	color: #f43c5e;
	font-size: 14px;
	background-position: 62px -1329px;
}
.allNav ul, .allNav li {
	float: left;
}
.allNav li a {
	height: 34px;
	line-height: 34px;
	display: block;
	padding: 0px 15px;
	color: #fff;
	font-size: 14px;
	margin-right: 20px;
	border: 1px solid #157cd1;
	background-color: #1887e3;
}
.allNavTxt {
	width: 998px;
	float: left;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
	border-top: 2px solid #f43c5e;
}
.allNavTxt .title {
	width: 978px;
	background-color: #ddf1fe;
	padding-left: 20px;
	float: left;
	height: 38px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.allNavTxt .title span, .allNavTxt .title a {
	display: block;
	float: left;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
}
.allNavTxt .txt, .allNavTxt ul, .allNavTxt li {
	float: left;
}
.allNavTxt .txt {
	width: 998px;
	float: left;
}
.allNavTxt ul {
	width: 984px;
	padding: 15px 0px 15px 14px;
}
.allNavTxt li a {
	height: 34px;
	line-height: 34px;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #333;
	border: 1px solid #e8e8e8;
}
.allNavTxt1 li a {
	width: 180px;
}
.allNavTxt2 li a {
	width: 148px;
}
.allNav li a:hover, .allNavTxt li a:hover {
	background-color: #f43c5e;
	border: 1px solid #f43c5e;
	color: #fff;
}
.allNavTxt1 li {
	padding: 5px 6px;
}
.allNavTxt2 li {
	width: 984px;
}
.allNavTxt2 li strong, .allNavTxt2 li a {
	margin: 5px 6px;
	display: block;
	float: left;
}
.allNavTxt2 li strong a {
	width: 158px;
	height: 36px;
	line-height: 36px;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #fff;
	margin: 0px;
	font-weight: normal;
	background-color: #1887e3;
	border: 0px;
}
.allNavTxt2 li strong a:hover {
	background-color: #f43c5e;
	border: 0px;
}
/*知识点导航*/
.knowledgeNav {
	width: 1000px;
	float: left;
	padding: 30px 0px 20px 0px;
	overflow: hidden;
}
.knowledgeNav ul {
	width: 1017px;
	float: left;
}
.knowledgeNav li {
	width: 96px;
	height: 36px;
	float: left;
	padding-right: 17px;
}
.knowledgeNav li a {
	width: 94px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	display: block;
	color: #fff;
	border: 1px solid #157cd1;
	background-color: #1887e3;
}
.knowledgeNav li a:hover, .knowledgeNav .this a {
	border: 1px solid #da2c4d;
	background-color: #f43c5e;
}
.knowledgeTxt {
	width: 1000px;
	float: left;
	padding-bottom: 30px;
}
.knowledgeTxt .title {
	width: 978px;
	line-height: 40px;
	font-size: 14px;
	background-color: #ddf1fe;
	border-top: 2px solid #f43c5e;
	border-left: 1px solid #e5e5e5;
	padding-left: 20px;
}
.knowledgeTxt table {
	width: 999px;
	border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.knowledgeTxt table td {
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.knowledge1 {
	text-align: center;
}
.knowledge1, .knowledge2 {
	width: 148px;
	vertical-align: middle;
	padding: 0px 10px;
}
.knowledge2, .knowledge2Box, .knowledge3 {
	padding-top: 3px;
	padding-bottom: 3px;
}
.knowledge1 a {
	color: #1887e3;
	font-size: 14px;
}
.knowledge2 a, .knowledge2Box a {
	color: #333;
	line-height: 24px;
}
.knowledge2Box {
	padding-left: 10px;
}
.knowledge2Box a {
	margin-right: 10px;
}
.knowledge3 {
	color: #666;
}
.knowledge3 a {
	color: #666;
	display: block;
	float: left;
	line-height: 24px;
	margin: 0px 10px;
}
.knowledge3 span {
	display: block;
	float: left;
	line-height: 24px;
}
.knowledge1 a:hover, .knowledge2 a:hover, .knowledge3 a:hover, .knowledge2Box a:hover {
	color: #f43c5e;
}